.sidebar {
  flex: 0.4;
  display: flex;
  flex-direction: column;
}

.sidebar__header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.sidebar__headerRight > .MuiIconButton-root {
  padding-left: 4px;
  padding-right: 4px;
}

.sidebar__footer {
  display: flex;
  justify-content: space-around;
}

.sidebar__chats {
  background-color: white;
  overflow-y: auto;
  flex: 1;
}
